{% extends 'base.html' %}

{% block content %}
  <p>게시글 목록 화면입니다.</p>

  <div class="category-menu">
    <h4>카테고리</h4>
    <ul>
      <li>
        <a href="{% url 'blog:list' %}" class="btn">전체</a>
      </li>
      {% for category in categories %}
        <li>
          <a href="{% url 'blog:category' c_name=category.name %}" class="btn">{{ category.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="post-list">
    <form action="{% url 'blog:write' %}" method="get">
      <input type="submit" value="글 작성" class="btn btn-outline-success">
    </form>
    {% if posts %}
      <table class="table table-boardered">
        <thead class='table-light'>
          <tr>
            <td>번호</td>
            <td>카테고리</td>
            <td>제목</td>
            <td>작성자</td>
            <td>작성일</td>
            <td>조회수</td>
          </tr>
        </thead>
        <tbody>
          {% for post in posts %}
            <tr>
              <td>{{ forloop.revcounter }}</td>
              <td>{{ post.category }}</td>
              <td>
                <a href="{% url 'blog:detail' pk=post.pk %}" class="btn">{{ post.title }}</a>
              </td>
              <td>{{ post.writer }}</td>
              <td>{{ post.created_at | date:"y.m.d" }}</td>
              <td>{{ post.views }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>작성된 게시물이 없습니다.</p>
    {% endif %}
  </div>

  <form action="{% url 'blog:list' %}" method="get">
    <select id="search_option" name="search_option">
      <option value="title+content" selected="selected">제목+내용</option>
      <option value="title">제목</option>
      <option value="content">내용</option>
      <option value="writer">작성자</option>
      <option value="all">전체</option>
      <option value="tags">태그</option>
    </select>
    <input type="text" name="q" id="search" value="{{ query|default_if_none:'' }}" placeholder="Search...">
    <button class="btn btn-outline-success" type="submit">검색</button>
  </form>
{% endblock %}
