{% extends 'base.html' %}
{% load static %}

{% block content %}

  <!-- banner -->
  <div class="banner">
    <div class="max-width">
      <div class="banner-contents">
        <p class="sub-text">React Blog</p>
        <p class="main-text">My BLOG</p>
        <p class="description">
          The first Django Blog
        </p>
      </div>
    </div>
  </div>
  <!-- //banner -->
  <!-- main -->
  <main>
    <!-- posts -->
    <div class="max-width">
      <h2 class="a11y-hidden">Post</h2>
      {% if posts %}
        <ul class="posts">
          {% for post in posts %}
            <li>
              <a href="{% url 'blog:detail' pk=post.pk %}" class="post">
                <article>
                  {% if post.image %}
                    <img src="{{ post.image.url }}" alt="{{ post.title }}"/>
                  {% else %}
                    <img src="{% static 'images/noimage.jpg' %}" alt="no image"/>
                  {% endif %}
                  <div class="contents-wrap">
                    <!-- category -->
                    <dl class="category">
                      <dt class="a11y-hidden">Category</dt>
                      <dd>{{ post.category }}</dd>
                    </dl>
                    <!-- //category -->

                    <h3>{{ post.title }}</h3>

                    <!-- author -->
                    <dl class="author-wrap">
                      <dt class="a11y-hidden">Author</dt>
                      <dd class="author"><img src="./images/profile.jpg" alt=""/>
                        {{ post.writer }}</dd>
                      <dt class="a11y-hidden">Created</dt>
                      <dd class="created">{{ post.created_at | date:"y.m.d" }}</dd>
                      <dt class="a11y-hidden">Views</dt>
                      <dd class="created">조회수:
                        {{ post.views }}</dd>
                    </dl>
                    <!-- //author -->

                    <p class="post-description">
                      {{ post.content }}
                    </p>
                  </div>
                </article>
              </a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>작성된 게시물이 없습니다.</p>
      {% endif %}
      <!-- //posts -->

      <!-- about -->
      <aside class="about">
        <h2>About Me</h2>
        <img src="./images/profile.jpg" alt="" class="user-profile"/>
        <p class="user-name">{{ user.username }}</p>
        <p class="user-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <h3>Categories</h3>
        <ul class="categories">
          <li>
            <a href="{% url 'blog:list' %}">전체</a>
          </li>
          {% for category in categories %}
            <li>
              <a href="{% url 'blog:category' c_name=category.name %}">{{ category.name }}</a>
            </li>
          {% endfor %}
        </ul>
        <h3>Search</h3>
        <form action="{% url 'blog:list' %}" method="get" class="search-form">
          <select id="search_option" name="search_option">
            <option value="title+content" selected="selected">제목+내용</option>
            <option value="title">제목</option>
            <option value="content">내용</option>
            <option value="writer">작성자</option>
            <option value="all">전체</option>
            <option value="tags">태그</option>
          </select>
          <input type="text" name="q" id="search" value="{{ query|default_if_none:'' }}" placeholder="Search...">
          <button type="submit" class="search-button"><img src="{% static 'assets/search.svg' %}" alt="search"/></button>
        </form>
        <h3>Follow</h3>
        <ul class="sns">
          <li>
            <a href="#">
              <img src="{% static 'assets/Facebook.svg' %}" alt="Facebook"/>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="{% static 'assets/Twitter.svg' %}" alt="Twitter"/>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="{% static 'assets/Instagram.svg' %}" alt="Instagram"/>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="{% static 'assets/Github.svg' %}" alt="GitHub"/>
            </a>
          </li>
        </ul>
      </aside>
      <!-- //about -->
    </div>
  </main>
  <!-- //main -->
{% endblock %}
